/* ------font-size----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    color: #3A3A3A;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* ------header-start------ */
header{
    height: 40vh;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}
.heading-title{
    display: flex;
}
.heading-title li{
    list-style: none;
    margin: 3px;
}
.heading-title li a{
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    color: #0D0D0D;
}
.heading-title .fa-shopping-cart{
    padding-left: 20px;
    font-size: 20px;
    margin-top: 5px;
}
.heading-title .fa-search{
    font-size: 20px;
    margin-top: 5px;
}
/* -----heading-end--------- */

/* --------Influencer-gear-main-top------- */

.influencer-top{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.Influencer-title{
    height: 270px;
    width: 580px;
}
.Influencer-image img{
    margin: auto;
    width: 440px;
    height: 414px;
    padding: 0 0 50px 40px;
}
.Influencer-title h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 10px;
}
.preebook-button{
    width: 190px;
    height: 40px;
    margin: 30px 0;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #FF6660;
    align-items: center;
    justify-content: center;
}
.preebook-button a{
    text-decoration: none;
    padding-right: 10px;
    color: #ffff;
}
.preebook-button .fa-arrow-circle-right{
    color: #ffff;
}
/* ----------Influencer-gear-main-top--------end------- */
hr{
    width: 150vh;
    margin-left: 100px;
}
.company-logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 20px 150px;
    padding: 15px 0;
}

/* ---------galllery box------- */

.gallary{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px 0;
    padding-left: 25px;
}
.collection-title{
    margin-top: 10%;
    padding-left: 39%;
}
.collection-box{
   background-color: #fffefe;
   width: 329px;
   height: 476px;
   left: 196px;
   top: 1035px;

}
.text>span{
    font-size: 20px;
}
.rating{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 10px;
}

.fa-star.faild{
    color: #ffc014;
}
.fa-star.empty{
    color: #aeaeae;
}
/* --------footer-------- */
.footer-box{
    color: #fffefe;
    background-color: #04021a;
    height: 200px;
    padding-top: 20px;
}
.footer-text{
    padding-top: 10px;
    text-align: center;
}
.footer-text h2{
    padding-bottom: 10px;
}
.footer-text h5{
    color: #CAD5E2;
    line-height: 15px;
    margin: 5px;
}
.socile-link{
    text-align: center;
    color: #ffffff;
    padding: 20px;
    font-size: 15px;
}
.socile-link a{
    color: #f3f5f7;
    margin: 5px;
    padding: 4px 7px;
    background-color: #cad5e228;
    border-radius: 50px;
}